nav{
    background-color: rgba(255, 196, 0, 0.521);
    height: 110px;
    display: flex;
    align-items: center;
;
}
.h1{
    font-size: 60px;
}

nav ul {
    display: flex;
    gap: 6rem;
    padding: 150px;
    font-size: 50px;
    list-style: none;
}
.center{
    text-align: center;

}
a{
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

.effect{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 3rem;
}

.effect img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    border-radius:  20px; 
    box-shadow: 0 4px 8px rgba(0,0, 0, 3);
}
.effect:hover img{
    filter: blur(5px);

}
.effect img:hover{
    transform: scale(1.1);
    filter: blur(); }

body{
    background-color: rgba(255, 140, 0, 0.904);

}
#center{
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items:end ;
}
p{
    text-align: center;
    font-size: 40px;
}
#icon{
    display: flex;
    justify-content: center;
    align-items: center;gap: 50px;
    flex-wrap: wrap;
}
#icon img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;

}
#icon:hover img{
    filter: blur(2px);
}
#icon img:hover{
    transform: scale(1.1);
    filter: blur()
}